[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Xcertainty"]
	path = Xcertainty
	url = https://github.com/mmi-codex/xcertainty
